header {
    position: relative;
    height: 72px;
    background: #333333;
    box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    display: flex;
    padding: 24px;
    font-family: Buenard;
    font-style: bold;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #CCCCCC;
    /* Savil Shadows */
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 690px) {
    .header_navbar {
        display: none !important
    }
    .navbar {
        display: flex;
    }
}

@media only screen and (min-width: 691px) {
    .header_navbar {
        position: absolute;
        display: flex;
        right: 0;
        padding: 18px;
    }
    .navbar {
        display: none;
    }
}

.admin_button a {
    text-decoration: none;
}

.admin_button h3 {
    color: #CCCCCC;
    text-decoration: none;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
}