@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');

html, body {
    background-color: #333333;
    color: #E5E5E5;
    font-family: 'Buenard', serif;
    height: 100%;
}

#app, #login {
    display: flex;
    flex-direction: column;
}

  body {
    display: flex;
    flex-direction: column;
  }
  .productsList {
    flex: 1 0 auto;
  }

  .loginContainer {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }